[Unit]
Description=PIXARTEK Kiosk UI (Chromium)
After=graphical.target pixartek-backend.service
Wants=graphical.target

[Service]
Type=simple
User=pi
Environment=DISPLAY=:0
Environment=XAUTHORITY=/home/pi/.Xauthority
ExecStartPre=/bin/sleep 4
ExecStart=/usr/bin/chromium \
  --kiosk \
  --noerrdialogs \
  --disable-infobars \
  --no-first-run \
  --disable-translate \
  --disable-features=TranslateUI \
  --overscroll-history-navigation=0 \
  --disable-pinch \
  http://localhost:3000
Restart=on-failure
RestartSec=5

[Install]
WantedBy=graphical.target
